.timelineCard {
    margin-top: 10px;
  }

  .timelineMemo{
    margin-left: 25px;
    margin-top: 10px;
  }

  .titleCard{
    width: 80%;
  }

@media screen and (min-width: 481px) {
.mobile{
 display: none;
}
.newsCard {
  margin-top: 5px;
}
}

@media screen and (max-width: 481px) {
  .pc{
   display: none;
  }
  }